@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;800&display=swap");

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: inherit;
  box-sizing: border-box;
}

button {
  outline: none;
  all: revert;
  border: none;
}
